@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 192 80% 92.5%;
    --foreground: 215 25% 27%;
    --card: 192 80% 92.5%;
    --card-foreground: 215 25% 27%;
    --popover: 192 70% 95%;
    --popover-foreground: 215 25% 27%;
    --primary: 207 88% 68%;
    --primary-foreground: 215 25% 27%;
    --secondary: 190 60% 88%;
    --secondary-foreground: 215 25% 27%;
    --muted: 190 60% 88%;
    --muted-foreground: 215 25% 45%;
    --accent: 188 56% 82%;
    --accent-foreground: 215 25% 27%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 190 40% 80%;
    --input: 190 40% 85%;
    --ring: 207 88% 68%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 216 34% 17%;
    --foreground: 210 40% 96%;
    --card: 216 34% 17%;
    --card-foreground: 210 40% 96%;
    --popover: 216 34% 17%;
    --popover-foreground: 210 40% 96%;
    --primary: 207 88% 68%;
    --primary-foreground: 215 25% 27%;
    --secondary: 216 34% 22%;
    --secondary-foreground: 210 40% 96%;
    --muted: 216 34% 22%;
    --muted-foreground: 210 40% 75%;
    --accent: 207 88% 68%;
    --accent-foreground: 215 25% 27%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 34% 25%;
    --input: 216 34% 25%;
    --ring: 207 88% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .day-with-event {
    position: relative;
  }

  .day-with-event::after {
    content: '';
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    border-radius: 9999px;
    background-color: hsl(var(--primary));
  }
}
